/* src/components/CalendarWidget.css */
.calendar-widget {
  background-color: #191c24;
  padding: 20px;
  border-radius: 5px;
  flex: 1;
  min-width: 0;
}

.calendar-widget h4 {
  margin-top: 0;
  margin-bottom: 15px;
  color: #ffffff;
  font-weight: 500;
  border-bottom: 1px solid #2c2e33;
  padding-bottom: 10px;
}

.react-calendar {
  width: 100%;
  max-width: 100%;
  background: #191c24;
  border: none;
  font-family: inherit;
  box-sizing: border-box;
}

.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  box-sizing: inherit;
}

.react-calendar__navigation button {
  color: #c81a3b;
  min-width: 44px;
  background: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
}

.react-calendar__navigation button:hover,
.react-calendar__navigation button:focus {
  background-color: #2c2e33;
}

.react-calendar__month-view__weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
  color: #a5a7b2;
  margin-bottom: 4px;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em 0;
  overflow: visible !important; /* Adicionado para garantir que o texto não seja cortado */
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.react-calendar__tile {
  background: none;
  border: none;
  color: #a5a7b2;
  text-align: center;
  padding: 0.75em 0.5em;
  border-radius: 4px;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #2c2e33;
}

.react-calendar__tile--now {
  background: #c81a3b40;
  color: #fff;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #c81a3b80;
}

.react-calendar__tile--active {
  background: #c81a3b !important;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #e02d51;
}

.has-transaction {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.has-transaction::after {
    content: '';
    display: block;
    margin-top: 2px;
    height: 4px;
    width: 4px;
    background-color: #c81a3b;
    border-radius: 50%;
}